In [2]:
import requests

# 실시간
#url = 'http://openapi.seoul.go.kr:8088/79556c7961736a6b3631565561765a/json/bikeList/1/1'

url = 'http://openapi.seoul.go.kr:8088/79556c7961736a6b3631565561765a/json/tbCycleRentData/1/1/2022-10-01/0' 
response = requests.get(url)
result = response.text

print(result)

{"rentData":{"list_total_count":"5550","RESULT":{"CODE":"INFO-000","MESSAGE":"정상 처리되었습니다."},"row":[{"BIKE_ID":"SPB-56517","RENT_DT":"2022-10-01 00:00:26","RENT_ID":"04802","RENT_NM":"새우개마을","RENT_HOLD":"0","RTN_DT":"2022-10-01 00:00:35","RTN_ID":"04802","RTN_NM":"새우개마을","RTN_HOLD":"0","USE_MIN":"0","USE_DST":"0.00","USR_CLS_CD":"USR_001","SEX_CD":"M","BIRTH_YEAR":"2004","RENT_STATION_ID":"ST-2628","RETURN_STATION_ID":"ST-2628","START_INDEX":0,"END_INDEX":0,"RNUM":"1"}]}}

In [1]:
import pandas as pd

In [2]:
jan = pd.read_csv("C:/Users/sjkan/Downloads/서울특별시 공공자전거 대여이력 정보_22.01.csv", encoding='cp949')
feb = pd.read_csv("C:/Users/sjkan/Downloads/서울특별시 공공자전거 대여이력 정보_22.02.csv", encoding='cp949')
mar = pd.read_csv("C:/Users/sjkan/Downloads/서울특별시 공공자전거 대여이력 정보_22.03.csv", encoding='cp949')
apr = pd.read_csv("C:/Users/sjkan/Downloads/서울특별시 공공자전거 대여이력 정보_22.04.csv", encoding='cp949')
may = pd.read_csv("C:/Users/sjkan/Downloads/서울특별시 공공자전거 대여이력 정보_22.05.csv", encoding='cp949')
jun = pd.read_csv("C:/Users/sjkan/Downloads/서울특별시 공공자전거 대여이력 정보_22.06.csv", encoding='cp949')
jul = pd.read_csv("C:/Users/sjkan/Downloads/공공자전거 대여이력 정보_2107.csv", encoding='cp949')
aug = pd.read_csv("C:/Users/sjkan/Downloads/공공자전거 대여이력 정보_2108.csv", encoding='cp949')
sep = pd.read_csv("C:/Users/sjkan/Downloads/공공자전거 대여이력 정보_2109.csv", encoding='cp949')
oct = pd.read_csv("C:/Users/sjkan/Downloads/공공자전거 대여이력 정보_2110.csv", encoding='cp949')
nov = pd.read_csv("C:/Users/sjkan/Downloads/공공자전거 대여이력 정보_2111.csv", encoding='cp949')
dec = pd.read_csv("C:/Users/sjkan/Downloads/공공자전거 대여이력 정보_2112.csv", encoding='cp949')

In [3]:
data = pd.concat([jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec], axis=0)

In [4]:
data

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-33633,2022-01-02 16:02:42,3,중랑센터,0,2022-01-02 16:14:14,540,군자역 7번출구 베스트샵 앞,0,11,2419.63
1,SPB-49457,2022-01-06 08:09:11,3,중랑센터,0,2022-01-06 08:19:43,3,중랑센터,0,10,0.00
2,SPB-32344,2022-01-11 17:53:40,3,중랑센터,0,2022-01-11 18:05:07,529,장한평역 8번 출구 앞,0,11,1081.14
3,SPB-50724,2022-01-17 16:02:21,3,중랑센터,0,2022-01-17 16:07:28,529,장한평역 8번 출구 앞,0,5,0.00
4,SPB-34117,2022-01-17 17:57:28,3,중랑센터,0,2022-01-17 18:06:03,529,장한평역 8번 출구 앞,0,8,1121.03
...,...,...,...,...,...,...,...,...,...,...,...
1704292,SPB-51882,2021-12-30 09:39:45,9999,상담센터,0,2021-12-30 09:52:44,346,맥스타일 앞,0,12,0.00
1704293,SPB-51134,2021-12-30 18:55:31,9999,상담센터,0,2021-12-30 18:59:04,1986,태평양물산빌딩,0,3,0.00
1704294,SPB-37732,2021-12-30 21:12:40,9999,상담센터,0,2021-12-30 21:15:54,188,홍은동 정원여중 입구,0,3,345.45
1704295,SPB-51854,2021-12-22 09:46:16,88888,영남배송,0,2021-12-22 10:03:24,236,문래동자이아파트 앞,0,17,0.00
1704296,SPB-53564,2021-12-22 14:38:04,99999,영남단말기정비,0,2021-12-22 14:39:29,9998,영남주차장 정비센터,0,1,0.00

In [7]:
station = pd.read_csv("C:/Users/sjkan/Downloads/3. 공공자전거 대여소 정보(22.06월 기준).csv", encoding='cp949')

In [8]:
station.columns=['대여소 번호','보관소(대여소)명','소재지(위치)','상세주소','위도','경도','설치 시기','거치대수-LCD','거치대수-QR','운영 방식']
station = station[4:]
station

,대여소 번호,보관소(대여소)명,소재지(위치),상세주소,위도,경도,설치 시기,거치대수-LCD,거치대수-QR,운영 방식
4,102.0,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.5556488,126.9106293,2022-05-03,NaN,15,QR
5,103.0,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.55495071,126.9108353,2022-05-03,NaN,14,QR
6,104.0,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.55062866,126.9149857,2022-05-12,NaN,13,QR
7,105.0,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.55000687,126.9148254,2015-09-06,NaN,5,QR
8,106.0,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.54864502,126.9128265,2022-05-12,NaN,12,QR
...,...,...,...,...,...,...,...,...,...,...
2652,5851.0,도림천 건널목 위,영등포구,영등포구 대림동 646-1,37.50208282,126.8931885,2022-02-08,NaN,15,QR
2653,5852.0,대림동현대2차 201동 앞,영등포구,영등포구 대림동 640-2,37.50300598,126.8938294,2022-02-08,NaN,7,QR
2654,5853.0,여의도역2번출구 앞,영등포구,여의도동 의사당대로 88,37.52260971,126.9230118,2022-05-11,NaN,10,QR
2655,5854.0,신한금융투자 앞,영등포구,여의대로 70,37.52508926,126.9240799,2022-06-09,NaN,26,QR
2656,5855.0,하이투자증권 앞,영등포구,여의대로 66,37.52464294,126.9234238,2022-06-09,NaN,31,QR

In [9]:
station[station['대여소 번호']==3627]

,대여소 번호,보관소(대여소)명,소재지(위치),상세주소,위도,경도,설치 시기,거치대수-LCD,거치대수-QR,운영 방식
2042,3627.0,압구정나들목,강남구,압구정동 507,37.53075027,127.0416031,2021-02-24,NaN,10,QR

In [10]:
len(station[station['소재지(위치)']=='강남구'])

159

In [11]:
zz = pd.read_csv("C:/Users/sjkan/Downloads/서울시 공공자전거 고장신고 내역_22.01-06.csv", encoding='cp949')
zz.head()

       자전거번호             등록일시 고장구분
0  SPB-36049  2022-01-01 0:45  기타
1  SPB-34190  2022-01-01 1:01  기타
2  SPB-39295  2022-01-01 1:08   체인
3  SPB-32092  2022-01-01 1:55  기타
4  SPB-31554  2022-01-01 2:01   체인

In [12]:
log_jan = pd.read_csv("C:/Users/sjkan/Downloads/대여소별 이용정보 22.1.csv", encoding='cp949')
log_feb = pd.read_csv("C:/Users/sjkan/Downloads/대여소별 이용정보 22.2.csv", encoding='cp949')
log_mar = pd.read_csv("C:/Users/sjkan/Downloads/대여소별 이용정보 22.3.csv", encoding='cp949')
log_apr = pd.read_csv("C:/Users/sjkan/Downloads/대여소별 이용정보 22.4.csv", encoding='cp949')
log_may = pd.read_csv("C:/Users/sjkan/Downloads/대여소별 이용정보 22.5.csv", encoding='cp949')
log_jun = pd.read_csv("C:/Users/sjkan/Downloads/대여소별 이용정보 22.6.csv", encoding='cp949')
log_2021 = pd.read_csv("C:/Users/sjkan/Downloads/대여소별 이용정보(월별 '21.7-'21.12).csv", encoding='cp949')

In [13]:
log_jan = log_jan[5:]
log_feb = log_feb[5:]
log_mar = log_mar[5:]
log_apr = log_apr[5:]
log_may = log_may[5:]
log_jun = log_jun[5:]
log_jun = log_jun[5:]
log_2021 = log_2021[4:]

In [14]:
log_jan

     대여소별 대여내역 Unnamed: 1               Unnamed: 2 Unnamed: 3
5          강동구       천호1팀          1014. 강동구평생학습관앞          3
6          성동구        테스트                9980. 에이텍          3
7          동작구       영남2팀           2063. 대방역 4번출구          4
8          서초구       이수1팀             2286. 탑성마을입구          7
9          서초구       이수1팀             2288. 안골마을입구          7
...        ...        ...                      ...        ...
2588       강서구       개화1팀         2728.마곡나루역 3번 출구       3229
2589       강서구       개화1팀  1153. 발산역 1번, 9번 인근 대여소       3368
2590       송파구       천호2팀  1210. 롯데월드타워(잠실역2번출구 쪽)       3728
2591       강서구       개화1팀      2701. 마곡나루역 5번출구 뒤편       4572
2592       강서구       개화1팀         2715.마곡나루역 2번 출구       5547

[2588 rows x 4 columns]

In [15]:
log_list = [log_jan, log_feb, log_mar, log_apr, log_may, log_jun, log_2021]

In [16]:
for i in log_list:
    i.columns=['대여소 그룹','팀명','대여소 명','대여 건수']

In [17]:
index1 = log_2021[log_2021['대여소 그룹']=='그룹명 없음'].index
index2 = log_2021[log_2021['대여소 그룹']=='정비센터'].index
log_2021 = log_2021.drop(index = index1)
log_2021 = log_2021.drop(index = index2)

In [18]:
log_list = [log_jan, log_feb, log_mar, log_apr, log_may, log_jun, log_2021]

In [19]:
import numpy as np

In [20]:
log_dict = dict()
for i in set(log_jan['대여소 그룹']):
    tmp = pd.DataFrame(log_jan[log_jan['대여소 그룹']==i]['대여 건수'])
    log_dict[i]= np.sum(tmp['대여 건수'].astype('int'))

In [21]:
for j in log_list[1:]:
    for i in set(j['대여소 그룹']):
        tmp = pd.DataFrame(j[j['대여소 그룹']==i]['대여 건수'])
        log_dict[i] = log_dict[i] + np.sum(tmp['대여 건수'].astype('int'))

In [22]:
#자치구별 대여 횟수
log_dict

{'중랑구': 1013677,
 '종로구': 1339440,
 '마포구': 2030205,
 '서대문구': 841939,
 '영등포구': 2949622,
 '서초구': 1183616,
 '광진구': 1739827,
 '동대문구': 1365381,
 '중구': 879085,
 '강북구': 604495,
 '성동구': 1412612,
 '구로구': 1377498,
 '은평구': 1005549,
 '노원구': 2084881,
 '금천구': 613015,
 '강서구': 3923491,
 '성북구': 992629,
 '송파구': 3272724,
 '관악구': 1128881,
 '강동구': 1540613,
 '용산구': 814665,
 '동작구': 793775,
 '양천구': 2012404,
 '도봉구': 768050,
 '강남구': 1090869}

In [138]:
sum = 0
for i in ratio_dict.values():
    sum += i
sum

335468

In [23]:
station_dict = dict()
for i in set(station['소재지(위치)']):
    station_dict[i]= len(station[station['소재지(위치)']==i])

In [24]:
#자치구별 대여소 개수
station_dict

{'종로구': 106,
 '마포구': 122,
 '중랑구': 95,
 '서대문구': 79,
 '영등포구': 146,
 '서초구': 141,
 '광진구': 86,
 '동대문구': 82,
 '중구': 86,
 '강북구': 58,
 '성동구': 87,
 '구로구': 104,
 '은평구': 95,
 '노원구': 127,
 '강서구': 184,
 '성북구': 81,
 '금천구': 74,
 '송파구': 209,
 '관악구': 76,
 '강동구': 119,
 '용산구': 88,
 '동작구': 71,
 '양천구': 106,
 '도봉구': 72,
 '강남구': 159}

In [131]:
ratio_dict = dict()
for i in log_dict.keys():
    ratio_dict[i]= int(log_dict[i]/station_dict[i])

In [132]:
# 대여소 당 대여 횟수가 가장 적은 자치구는 강남구
ratio_dict

{'중랑구': 10670,
 '종로구': 12636,
 '마포구': 16641,
 '서대문구': 10657,
 '영등포구': 20202,
 '서초구': 8394,
 '광진구': 20230,
 '동대문구': 16650,
 '중구': 10221,
 '강북구': 10422,
 '성동구': 16236,
 '구로구': 13245,
 '은평구': 10584,
 '노원구': 16416,
 '금천구': 8283,
 '강서구': 21323,
 '성북구': 12254,
 '송파구': 15658,
 '관악구': 14853,
 '강동구': 12946,
 '용산구': 9257,
 '동작구': 11179,
 '양천구': 18984,
 '도봉구': 10667,
 '강남구': 6860}

In [27]:
aaa = pd.DataFrame(list(ratio_dict.keys()))
bbb = pd.DataFrame(list(ratio_dict.values()))

In [28]:
pd.DataFrame(pd.concat([aaa,bbb], axis=1)).T

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,중랑구,종로구,마포구,서대문구,영등포구,서초구,광진구,동대문구,중구,강북구,...,강서구,성북구,송파구,관악구,강동구,용산구,동작구,양천구,도봉구,강남구
0,10670,12636,16641,10657,20202,8394,20230,16650,10221,10422,...,21323,12254,15658,14853,12946,9257,11179,18984,10667,6860

In [29]:
gangnam_station_ = list(station[station['소재지(위치)']=='강남구']['대여소 번호'])

In [30]:
gangnam_station = []
for i in gangnam_station_:
    gangnam_station.append(int(i))
gangnam_station

[2301,
 2302,
 2303,
 2304,
 2305,
 2306,
 2307,
 2308,
 2309,
 2310,
 2311,
 2312,
 2313,
 2314,
 2315,
 2316,
 2317,
 2318,
 2319,
 2320,
 2321,
 2322,
 2323,
 2324,
 2325,
 2326,
 2327,
 2328,
 2329,
 2330,
 2331,
 2332,
 2333,
 2334,
 2335,
 2336,
 2337,
 2339,
 2340,
 2341,
 2342,
 2343,
 2344,
 2347,
 2348,
 2349,
 2350,
 2351,
 2352,
 2353,
 2354,
 2355,
 2356,
 2357,
 2358,
 2359,
 2360,
 2362,
 2363,
 2364,
 2365,
 2368,
 2369,
 2370,
 2371,
 2372,
 2373,
 2375,
 2376,
 2377,
 2380,
 2381,
 2382,
 2383,
 2384,
 2385,
 2386,
 2387,
 2388,
 2389,
 2390,
 2391,
 2392,
 2393,
 2394,
 2395,
 2396,
 2398,
 2401,
 2403,
 2404,
 2405,
 2406,
 2407,
 2408,
 2409,
 2410,
 2411,
 2412,
 2413,
 2414,
 2415,
 2416,
 2417,
 2418,
 2419,
 2420,
 2421,
 2422,
 2423,
 2425,
 2426,
 2427,
 2428,
 2429,
 2430,
 2431,
 3602,
 3603,
 3604,
 3605,
 3606,
 3609,
 3610,
 3611,
 3612,
 3614,
 3615,
 3616,
 3618,
 3620,
 3621,
 3622,
 3623,
 3624,
 3627,
 3628,
 3629,
 3630,
 3634,
 3636,
 3637,
 3638,
 3640,
 3641,
 3642,
 3643,
 3644,
 3646,
 3647,
 3648,
 3649,
 3651,
 4901,
 4902,
 4903,
 4905,
 4906,
 4907]

In [31]:
len(gangnam_station)

159

In [32]:
data['대여 대여소번호'] == 2301

0          False
1          False
2          False
3          False
4          False
           ...
1704292    False
1704293    False
1704294    False
1704295    False
1704296    False
Name: 대여 대여소번호, Length: 35449902, dtype: bool

In [33]:
everywhere2gangnam = data[data['반납대여소번호'].isin(gangnam_station)]
everywhere2gangnam

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
1376,SPB-58059,2022-01-31 15:54:13,102,망원역 1번출구 앞,0,2022-01-31 17:04:48,2310,청담동 맥도날드 옆(위치),0,70,19020.00
1919,SPB-49242,2022-01-18 20:43:06,103,망원역 2번출구 앞,0,2022-01-18 21:38:03,3606,신사동주민센터 옆,0,54,14850.00
2912,SPB-40401,2022-01-23 14:33:03,104,합정역 1번출구 앞,0,2022-01-23 16:39:57,2419,"봉은사역 1,2번 출구",0,126,19986.08
2913,SPB-49546,2022-01-23 14:34:01,104,합정역 1번출구 앞,0,2022-01-23 16:40:01,2419,"봉은사역 1,2번 출구",0,126,18840.00
4248,SPB-58035,2022-01-20 14:42:42,106,합정역 7번출구 앞,0,2022-01-20 16:07:11,2301,현대고등학교 건너편,0,84,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1704147,SPB-58420,2021-12-21 11:58:06,4869,잠실나들목6,0,2021-12-21 12:23:52,2307,압구정 한양 3차 아파트,0,25,4860.00
1704258,SPB-44892,2021-12-14 12:58:32,9999,상담센터,0,2021-12-14 13:06:34,2311,학동로 래미안 아파트 앞,0,8,1252.47
1704265,SPB-37415,2021-12-17 13:57:35,9999,상담센터,0,2021-12-17 14:23:33,2425,세곡동 사거리(대왕초등학교 정류장),0,25,1872.61
1704272,SPB-45263,2021-12-21 17:13:46,9999,상담센터,0,2021-12-21 18:52:49,2314,청담나들목입구,0,99,20540.00
1704284,SPB-53991,2021-12-25 18:07:43,9999,상담센터,0,2021-12-25 18:41:27,2348,포스코사거리(기업은행),0,33,0.00

In [34]:
gangnam2everywhere = data[data['대여 대여소번호'].isin(gangnam_station)]
gangnam2everywhere

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
943639,SPB-53394,2022-01-01 00:13:00,2301,현대고등학교 건너편,0,2022-01-01 00:18:37,2362,신사동 가로수길 입구,0,5,740.00
943640,SPB-55665,2022-01-01 14:47:37,2301,현대고등학교 건너편,0,2022-01-01 15:26:27,2301,현대고등학교 건너편,0,38,0.00
943641,SPB-48147,2022-01-01 15:14:38,2301,현대고등학교 건너편,0,2022-01-01 15:36:24,2523,뉴코아 킴스클럽 앞,0,21,2860.00
943642,SPB-57767,2022-01-01 14:37:48,2301,현대고등학교 건너편,0,2022-01-01 16:15:53,2362,신사동 가로수길 입구,0,98,11350.00
943643,SPB-51885,2022-01-01 14:35:51,2301,현대고등학교 건너편,0,2022-01-01 16:16:09,2362,신사동 가로수길 입구,0,100,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1490658,SPB-51649,2021-12-31 03:18:57,3640,일원1동주민센터앞 사거리,0,2021-12-31 03:25:42,2375,수서역 1번출구 앞,0,6,1360.00
1490659,SPB-58562,2021-12-31 13:04:39,3640,일원1동주민센터앞 사거리,0,2021-12-31 13:19:04,2401,밀알학교 입구 (삼성서울병원 입구),0,14,1440.00
1490660,SPB-30199,2021-12-31 16:26:03,3640,일원1동주민센터앞 사거리,0,2021-12-31 16:33:48,2342,대청역 1번출구 뒤,0,7,1062.36
1490661,SPB-52752,2021-12-31 17:46:35,3640,일원1동주민센터앞 사거리,0,2021-12-31 17:55:20,2375,수서역 1번출구 앞,0,8,0.00
1490662,SPB-57836,2021-12-31 17:06:24,3640,일원1동주민센터앞 사거리,0,2021-12-31 17:58:46,2633,송파학사 옆,0,52,7440.00

In [35]:
Apgujeong = gangnam2everywhere[gangnam2everywhere['대여 대여소번호']== 3627]

대여월 = []
for i in range(len(Apgujeong['대여일시'])):
    대여월.append(Apgujeong['대여일시'].iloc[i][5:7])
대여월 = pd.DataFrame(대여월)
대여월.columns=['대여월']

Apgujeong.reset_index(drop=True, inplace=True)
Apgujeong = pd.concat([Apgujeong, 대여월], axis=1)
Apgujeong.groupby('대여월').count().iloc[:,0]

대여월
01     516
02     577
03    1600
04    3057
05    3440
06    2400
07    2309
08    2978
09    3342
10    2317
11    1139
12     646
Name: 자전거번호, dtype: int64

In [37]:
gangnam2gangnam = data[data['대여 대여소번호'].isin(gangnam_station) & data['반납대여소번호'].isin(gangnam_station)]
gangnam2gangnam

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
943639,SPB-53394,2022-01-01 00:13:00,2301,현대고등학교 건너편,0,2022-01-01 00:18:37,2362,신사동 가로수길 입구,0,5,740.00
943640,SPB-55665,2022-01-01 14:47:37,2301,현대고등학교 건너편,0,2022-01-01 15:26:27,2301,현대고등학교 건너편,0,38,0.00
943642,SPB-57767,2022-01-01 14:37:48,2301,현대고등학교 건너편,0,2022-01-01 16:15:53,2362,신사동 가로수길 입구,0,98,11350.00
943643,SPB-51885,2022-01-01 14:35:51,2301,현대고등학교 건너편,0,2022-01-01 16:16:09,2362,신사동 가로수길 입구,0,100,0.00
943644,SPB-58704,2022-01-01 14:35:36,2301,현대고등학교 건너편,0,2022-01-01 16:16:10,2362,신사동 가로수길 입구,0,100,11090.00
...,...,...,...,...,...,...,...,...,...,...,...
1490655,SPB-54697,2021-12-30 12:48:25,3640,일원1동주민센터앞 사거리,0,2021-12-30 13:54:26,3640,일원1동주민센터앞 사거리,0,66,1640.00
1490658,SPB-51649,2021-12-31 03:18:57,3640,일원1동주민센터앞 사거리,0,2021-12-31 03:25:42,2375,수서역 1번출구 앞,0,6,1360.00
1490659,SPB-58562,2021-12-31 13:04:39,3640,일원1동주민센터앞 사거리,0,2021-12-31 13:19:04,2401,밀알학교 입구 (삼성서울병원 입구),0,14,1440.00
1490660,SPB-30199,2021-12-31 16:26:03,3640,일원1동주민센터앞 사거리,0,2021-12-31 16:33:48,2342,대청역 1번출구 뒤,0,7,1062.36
1490661,SPB-52752,2021-12-31 17:46:35,3640,일원1동주민센터앞 사거리,0,2021-12-31 17:55:20,2375,수서역 1번출구 앞,0,8,0.00

In [38]:
group = gangnam2everywhere.groupby('대여 대여소번호').count()
uselog = pd.DataFrame(group.iloc[:,0])
uselog.columns=['대여횟수']

In [39]:
uselog['대여횟수'].describe()

count      154.000000
mean      6761.974026
std       5267.714920
min        104.000000
25%       3041.000000
50%       5181.500000
75%       9515.750000
max      29983.000000
Name: 대여횟수, dtype: float64

In [40]:
print("0%:", uselog['대여횟수'].quantile(q=0, interpolation='lower'))
print("20%:", uselog['대여횟수'].quantile(q=0.2, interpolation='lower'))
print("40%:", uselog['대여횟수'].quantile(q=0.4, interpolation='lower'))
print("60%:", uselog['대여횟수'].quantile(q=0.6, interpolation='lower'))
print("80%:", uselog['대여횟수'].quantile(q=0.8, interpolation='lower'))
print("100%:", uselog['대여횟수'].quantile(q=1, interpolation='lower'))

0%: 104
20%: 2794
40%: 4318
60%: 6404
80%: 9951
100%: 29983

In [41]:
a = uselog[uselog['대여횟수'] < uselog['대여횟수'].quantile(q=0.2, interpolation='lower')].sort_values(by='대여횟수' ,ascending=False)
b = uselog[uselog['대여횟수'] < uselog['대여횟수'].quantile(q=0.4, interpolation='lower')].sort_values(by='대여횟수' ,ascending=False)
c = uselog[uselog['대여횟수'] < uselog['대여횟수'].quantile(q=0.6, interpolation='lower')].sort_values(by='대여횟수' ,ascending=False)
d = uselog[uselog['대여횟수'] < uselog['대여횟수'].quantile(q=0.8, interpolation='lower')].sort_values(by='대여횟수' ,ascending=False)
e = uselog[uselog['대여횟수'] < uselog['대여횟수'].quantile(q=1.0, interpolation='lower')].sort_values(by='대여횟수' ,ascending=False)

In [42]:
cluster = [a,b,c,d,e]

In [43]:
import warnings
warnings.filterwarnings('ignore')
#import random
#random.seed(0)

In [44]:
a

          대여횟수
대여 대여소번호
3603      2745
2417      2724
3644      2700
3643      2670
3637      2661
2354      2643
2386      2538
3641      2507
3616      2488
2304      2456
2352      2445
2403      2443
2334      2303
2383      2286
3615      2260
3622      1975
3646      1915
2425      1826
4902      1787
3624      1689
3620      1585
2392      1275
3649      1259
3610      1141
3647      1063
2343       965
2395       852
2393       692
3648       607
2391       104

In [45]:
target = []
for i in cluster:
    #tmp = random.sample(i, 2)
    tmp = i[:2].index
    print(tmp)
    for j in tmp:
        target.append(j)
target

Int64Index([3603, 2417], dtype='int64', name='대여 대여소번호')
Int64Index([2380, 2357], dtype='int64', name='대여 대여소번호')
Int64Index([2339, 2341], dtype='int64', name='대여 대여소번호')
Int64Index([2408, 2418], dtype='int64', name='대여 대여소번호')
Int64Index([2301, 3627], dtype='int64', name='대여 대여소번호')

[3603, 2417, 2380, 2357, 2339, 2341, 2408, 2418, 2301, 3627]

In [124]:
#target = [3603, 2417, 2380, 2357, 2339, 2323, 3628, 2418, 2301, 3627]
#target = [2301,2339, 2380, 2418, 3627]
target = [2301,2339, 2380, 2418]

In [125]:
target_log = gangnam2everywhere[gangnam2everywhere['대여 대여소번호'].isin(target) & gangnam2everywhere['반납대여소번호'].isin(target)]

In [126]:
empty = []
for k, j in enumerate(target):
    ttmp = target_log[target_log['대여 대여소번호']==j]
    for i in target:
        result_table = ttmp[ttmp['반납대여소번호']==i]['이용시간']
        if i==j:
            print(j, "에서", i, "로", len(result_table))
            empty.append(i)
            empty.append(j)

2301 에서 2301 로 5993
2339 에서 2339 로 617
2380 에서 2380 로 193
2418 에서 2418 로 485

In [127]:
empty = []
for k, j in enumerate(target):
    ttmp = target_log[target_log['대여 대여소번호']==j]
    for i in target:
        result_table = ttmp[ttmp['반납대여소번호']==i]['이용시간']

        print(j, "에서", i, "로", len(result_table))
        empty.append(i)
        empty.append(j)

2301 에서 2301 로 5993
2301 에서 2339 로 11
2301 에서 2380 로 4
2301 에서 2418 로 18
2339 에서 2301 로 6
2339 에서 2339 로 617
2339 에서 2380 로 4
2339 에서 2418 로 9
2380 에서 2301 로 12
2380 에서 2339 로 3
2380 에서 2380 로 193
2380 에서 2418 로 233
2418 에서 2301 로 63
2418 에서 2339 로 6
2418 에서 2380 로 70
2418 에서 2418 로 485

In [128]:
empty = []
for k, j in enumerate(target):
    ttmp = target_log[target_log['대여 대여소번호']==j]
    sum = 0
    for i in target:
        result_table = ttmp[ttmp['반납대여소번호']==i]['이용시간']
        if True:
            #print(j, "에서", i, "로", len(result_table))
            empty.append(i)
            empty.append(j)
            sum += len(result_table)
    print(j, sum)

2301 6026
2339 636
2380 441
2418 624

In [116]:
empty.sort()
import collections
dic1 = collections.Counter(empty)
dic1

Counter({2301: 8, 2339: 8, 2418: 8, 3627: 8})

In [92]:
for k, j in enumerate(target):
    ttmp = target_log[target_log['대여 대여소번호']==j]
    print()
    print('#'*30)
    print(k,'번째')
    print('#'*30)
    for i in target:
        print('-'*30)
        result_table = ttmp[ttmp['반납대여소번호']==i]['이용시간']
        print(result_table)
        print(j, "에서", i, "로", len(result_table))

##############################
0 번째
##############################
------------------------------
943640      38
943652      54
943653      68
943654      64
943666      63
          ...
1189655     35
1189660     29
1189667     46
1189669    105
1189670     31
Name: 이용시간, Length: 5993, dtype: int64
2301 에서 2301 로 5993
------------------------------
2800466    101
2292047    103
2579520     47
1555663     69
Name: 이용시간, dtype: int64
2301 에서 2380 로 4
------------------------------
943694      35
943734      41
1593585     29
2615882    152
2615998     33
3346000     36
3346652     58
3346718     71
3346719     72
3346725     34
3346859     36
3346950     62
3346951     59
2410839     34
2293050     50
2293051     50
1556114     54
1556249     42
Name: 이용시간, dtype: int64
2301 에서 2418 로 18
------------------------------
943645     118
943646     114
943693      12
943696      15
943811      46
          ...
1189164     19
1189165     21
1189166     19
1189455    101
1189588     67
Name: 이용시간, Length: 418, dtype: int64
2301 에서 3627 로 418

##############################
1 번째
##############################
------------------------------
2679018     79
2679082     95
3249850     37
2742900     31
2742908     54
2743321     38
2743322     39
2743331     56
2743332     56
2463079     29
2640982     56
2178605    119
Name: 이용시간, dtype: int64
2380 에서 2301 로 12
------------------------------
964990     74
965007     26
965015      2
965018     98
965052     24
           ..
1215975    18
1215979    22
1215983    11
1215996     7
1216010     3
Name: 이용시간, Length: 193, dtype: int64
2380 에서 2380 로 193
------------------------------
964969      15
964975       6
964992     109
965010      62
965011       5
          ...
1215973      7
1215981      7
1215985      5
1215987      9
1215994     13
Name: 이용시간, Length: 233, dtype: int64
2380 에서 2418 로 233
------------------------------
1632747    49
1632938    20
2678993    22
4054051    37
4054052    37
4055513    23
4056806    23
3425968    28
3425969    28
3426599    17
3427927    50
2463092    83
2463139    47
2463175    55
2463189    19
2463268    49
2463271    58
2463291    28
2463325    54
2342813    35
2342837    39
2342838    40
2342950    58
2342984    12
2640799    33
2640800    33
2641018    23
2178549    52
1588626    20
1588759    36
Name: 이용시간, dtype: int64
2380 에서 3627 로 30

##############################
2 번째
##############################
------------------------------
974957      55
922998      48
923259      29
923430      23
1650067    108
          ...
1602569     44
1602689     26
1227797     28
1227844     30
1227940     37
Name: 이용시간, Length: 63, dtype: int64
2418 에서 2301 로 63
------------------------------
974646       9
974912       8
975099      11
975100       9
923022     112
          ...
1227519      7
1227526    106
1227689      4
1227847     22
1227915      6
Name: 이용시간, Length: 70, dtype: int64
2418 에서 2380 로 70
------------------------------
974603      56
974605       7
974613      50
974616      23
974626      59
          ...
1227834    111
1227835     34
1227836     54
1227859     13
1227917    115
Name: 이용시간, Length: 485, dtype: int64
2418 에서 2418 로 485
------------------------------
974623     18
974802     67
974803     68
974825     19
974939     42
           ..
1227718    31
1227838    18
1227866    16
1227886    19
1227903    43
Name: 이용시간, Length: 61, dtype: int64
2418 에서 3627 로 61

##############################
3 번째
##############################
------------------------------
1184048    36
1184049    36
1184050    30
1184065    52
1184066    49
           ..
1488344    27
1488444    21
1488557    12
1488559    28
1488662    14
Name: 이용시간, Length: 720, dtype: int64
3627 에서 2301 로 720
------------------------------
2002882     57
3284618     25
3284619     25
3317986     37
2800461     31
2800496     39
2800587     38
2800588     41
2828968    117
3198232     20
2648727     21
Name: 이용시간, dtype: int64
3627 에서 2380 로 11
------------------------------
1184214     24
1184395     35
1184522     19
1121763     28
2002341     42
2002698     36
2002913     16
2003044     21
3282493     48
3282494     42
3282519     41
3284348     19
3285103     64
3346510     59
3346586     30
3346852     34
3347118     22
3347385     21
2824650     23
2825028    115
2968914     27
2969344     29
2969501     35
2969502     35
2828109     57
2828796     33
2828928     25
2829855     27
2829874     35
3196523     26
3196524     28
3199324    110
2649581    104
2649715     35
2649729     27
2650453     40
2650636     52
2650638     95
1488562     18
1488674     27
Name: 이용시간, dtype: int64
3627 에서 2418 로 40
------------------------------
1184019     16
1184036     51
1184037     51
1184039    140
1184044     22
          ...
1488811    116
1488813     27
1488815     10
1488825     45
1488845     34
Name: 이용시간, Length: 4372, dtype: int64
3627 에서 3627 로 4372

In [50]:
for k, j in enumerate(target):
    ttmp = target_log[target_log['대여 대여소번호']==j]
    for i in target:
        result_table = pd.DataFrame(ttmp[ttmp['반납대여소번호']==i]['이용시간'])
        name = str(j)+" to "+str(i)+".csv"
        result_table.to_csv(name, index=False, header=False)

In [51]:
#!pip install folium

In [67]:
station_map = station[station['대여소 번호'].isin(target)]

In [68]:
station_map

,대여소 번호,보관소(대여소)명,소재지(위치),상세주소,위도,경도,설치 시기,거치대수-LCD,거치대수-QR,운영 방식
1573,2301.0,현대고등학교 건너편,강남구,서울특별시 강남구 압구정로 134,37.52407074,127.0217896,2017-06-13,10,NaN,LCD
1610,2339.0,현대아파트 정문 앞,강남구,서울특별시 강남구 언주로 107,37.48326111,127.0522995,2017-06-13,10,NaN,LCD
1643,2380.0,삼성동베이직하우스앞,강남구,서울특별시 강남구 봉은사로 456,37.51169586,127.0493469,2017-11-28,12,NaN,LCD
1677,2418.0,봉은사역 7번 출구,강남구,봉은사로 601,37.51393509,127.0598221,2020-02-14,NaN,10,QR
2042,3627.0,압구정나들목,강남구,압구정동 507,37.53075027,127.0416031,2021-02-24,NaN,10,QR

In [69]:
protect_a = station_map.위도.values
protect_b = station_map.경도.values

In [77]:
for i in zip(protect_a,protect_b):
    print(i)

('37.52407074', '127.0217896')
('37.48326111', '127.0522995')
('37.51169586', '127.0493469')
('37.51393509', '127.0598221')
('37.53075027', '127.0416031')

In [80]:
from haversine import haversine

In [78]:
a = (37.52407074, 127.0217896)
b = (37.48326111, 127.0522995)
c = (37.51169586, 127.0493469)
d = (37.51393509, 127.0598221)
e = (37.53075027, 127.0416031)

In [82]:
ll = [a,b,c,d,e]

In [123]:
for i in ll:
    print(haversine(e, i, unit = 'km'))

1.898556250988428
5.364191054032744
2.2261036483916032
2.4652888940761195
0.0

In [70]:
import folium

In [71]:
protectzone = station_map
def drawmap():
    guromap = folium.Map(location=[37.51651696477263,127.03873607397672], zoom_start=13,
                        tiles = "CartoDB positron")
    
    # 강남구 경계선 테두리와 내부 색칠하기
#     guromap.choropleth(geo_data = "dataset\guroline.json", 
#                     fill_color = "#FFFFFF",
#                     fill_opacity = 0.2,
#                    line_color = "#0491FD",line_weight = 1.5)
    
    # 스쿨존 표시하기
    for i in range(protectzone.shape[0]):
        protect_a = protectzone.위도.values[i]
        protect_b = protectzone.경도.values[i]
        folium.CircleMarker([protect_a,protect_b],
                            color="#F6B316", fill="#F9CC02",
                            weight = 2,
                            radius = 10, opacity = 1).add_to(guromap)
    
    return guromap

In [72]:
drawmap()